<div *ngIf="hero">
  <h2>{{ hero.name | uppercase }}</h2>
  <div><span>id: </span>{{hero.id}}</div>
  <div>
    <label>
      <input [(ngModel)]="hero.name" placeholder="name" />
    </label>
  </div>
</div>
